@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --primary-cyan: hsl(179, 62%, 43%);
    --primary-light-cyan: hsl(179, 62%, 53%);
    --primary-bright-yellow: hsl(71, 73%, 54%);
    --neutral-light-gray: hsl(204, 43%, 93%);
    --neutral-grayish-blue: hsl(218, 22%, 67%);
}

* {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--neutral-light-gray);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 40%;
    height: 60%;
    margin: auto;
    box-sizing: border-box;
    grid-template-areas:
        "container-one container-one"
        "container-two container-three";

}

.container-one {
    padding: 5%;
    grid-column: 1 / span 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px 5px 0 0;
}

.container-one h1 {
    color: var(--primary-cyan);
}

.container-one h3 {
    color: var(--primary-bright-yellow);
}

.container-one p {
    color: var(--neutral-grayish-blue);
}

.container-two {
    padding: 10%;
    grid-row: 2 / span 1;
    background-color: var(--primary-cyan);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    border-radius: 0 0 0 5px;
}

.container-two h4 {
    margin-bottom: .5rem;
}

.cost {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cost p {
    color: var(--primary-light-cyan);
    font-weight: 200;
}

.cost h1 {
    font-size: 2rem;
    font-weight: bold;
}

.container-two p {
    font-size: .9rem;
}

.container-two button {
    height: 2.4rem;
    background-color: var(--primary-bright-yellow);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
}
.container-two button:hover{
    cursor: pointer;
}

.container-three {
    padding: 10%;
    grid-row: 2 / span 1;
    background-color: var(--primary-light-cyan);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    border-radius: 0 0 5px 0;
}

.container-three p {
    font-size: .8rem;
    font-weight: 100;
}

.container-three h4 {
    margin-bottom: .5rem;
}

@media screen and (max-width: 768px) {
    main {
        height: auto;
        width: 90%;
        grid-template-areas:
            "container-one"
            "container-two"
            "container-three";
        grid-template-columns: 1fr 0;
        grid-template-rows: 1fr;
        margin: 0;
    }
    .container-one{
        grid-row: 1;
    }
    .container-two{
        grid-row: 2;
        border-radius: 0 0 0 0;
    }
    .container-three{
        grid-row: 3;
        border-radius: 0 0 5px 5px;
    }
}